@import "tailwindcss";

@theme {
  --color-chosen-bg: #0d0d0d;
  --color-chosen-card: #1a1a1a;
  --color-chosen-green: #00ff66;
  --color-chosen-dark-green: #00cc52;
}

/* Suporte ao Modo Claro/Escuro via classe */
:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
}

.dark {
  --background: #0d0d0d;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}